body {
    margin: 51px auto;
    width: 600px;
    font-family: 'Smythe', cursive;
    font-size: 16px;
    font-weight: 400;
    background: #708090;
} 

main, header {
    background: white;
    box-shadow: 0px 0px 25px black;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 39px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 22px;
}

p{
    margin: 8px 0;
}

input{
    display: block;
    border: 1px solid #757575;
    padding: 16px 260px 15px 16px;
    margin: 18px auto;
    border-radius: 4px;
}

.header{
    background-image: url('images/bg_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 121px;
    color: white;
    padding: 46px 0 0 46px;
}

.menu-item-container {
    margin: 0 auto;
    padding: 51px 0 51px 0;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
}

.item {
    margin-left: 31px;
    flex-grow: 1;
}

.ingredients{
    color: #8B8B8B;
    padding: 0;
    margin: 0;
}

.btn{
    padding: 8px 21px 8px 21px;
    font-size: 32px;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.remove {
    padding: 8px 21px 8px 21px;
}

.order-container {
    width: 85%;
    margin: 51px auto;
    padding: 0 0 51px 0;
}

.order-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-item {
    font-size: 28px;
}

.remove-txt{
    font-size: 14px;
    color: #BBBBBB;
    padding-left: 15px;
    cursor: pointer;
    font-weight: normal;
}

.order-price{
    font-size: 20px;
}

.total-price{
    border-top: 2px solid #393333;
    margin-top: 18px;
    padding: 18px 0 0 0;
}

.complete-order-btn {
    font-size: 20px;
    background: #16DB99;
    border: none;
    color: white;
    width: 100%;
    padding: 18px 0 18px 0;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 18px;
}

.payment-modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    margin: auto;
    width: 480px;
    height: 380px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 100px black;
    padding: 25px;
}

.close-payment-modal-button-container {
    text-align: right;
}

.payment-modal-close-btn {
    background: #ECFDF5;
    color: #065F46;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.payment-title {
    font-size: 24px;
}

.thank-you-container {
    background: #ECFDF5;
    color: #065F46;
    width: 85%;
    margin: 51px auto 200px auto;
}

.thank-you-message {
    font-size: 32px;
    text-align: center;
    padding: 45px 0;
}

/* Utility Classes */
.hidden{
    display: none;
}

.center {
    text-align: center;
}

.font-two {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold {
    font-weight: 700;
}